
nav ul,
nav .brand-logo {
  color: #164576;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;

}


.card-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
.nav-bar {
  margin: 0;
  background-color: #474716;
}

/* body div.row-color-option {

  background-color: : #8d8d8d;
} */

p {
  line-height: 2rem;
  font-family: 'Ubuntu', sans-serif;

}

.sidenav-trigger {
  color: #164576;
}

/*color for font inside parallax*/
.parallax-container {
  min-height: 450px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer.page-footer {
  margin: 0;
  background-color: #474716;;
}
.white-color {
  background-color: #f5f5f5;
}
topo-image {
  background-color: #f0f0f0;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'");
}
